<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>383508623434-j97ncpojljqcfg4vki8g2j0frvjljtpn.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.383508623434-j97ncpojljqcfg4vki8g2j0frvjljtpn</string>
	<key>API_KEY</key>
	<string>AIzaSyBKuYALofG0vl2lXUwgqbhMrlauBSKs2hY</string>
	<key>GCM_SENDER_ID</key>
	<string>383508623434</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.litov74.wybe</string>
	<key>PROJECT_ID</key>
	<string>wybe-31ae2</string>
	<key>STORAGE_BUCKET</key>
	<string>wybe-31ae2.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:383508623434:ios:68b933a5d3027cca67b6b3</string>
</dict>
</plist>